<!DOCTYPE html>
<html>
<head>
<title>xiangqing.html</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link href="/wfzp/css/bootstrap.css" rel="stylesheet" />
<script src="/wfzp/js/angular1.5.min.js" type="text/javascript"></script>
</head>

<body ng-app="app" ng-controller="xiangqingCtrl">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
			任务进度(当前进度{{zjindu}}%):
				<div class="progress progress-striped active">
					<div ng-repeat="x in progress" class="progress-bar progress-bar-{{x.progr}}" role="progressbar"
						aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
						style="width: {{x.process}}%;">{{x.process}}%</div>
				</div>
			</div>
			<div class="col-md-12 column">
			任务进度汇报记录:
				<table class="table table-bordered table-hover table-condensed">
					<thead>
						<tr class="info">
							<th style="width:40px;text-align:center;vertical-align:middle;">序号</th>
							<th style="width:60px;text-align:center;vertical-align:middle;">汇报人</th>
							<th style="width:100px;text-align:center;vertical-align:middle;">时间</th>
							<th style="width:50px;text-align:center;vertical-align:middle;">进度</th>
							<th>汇报内容</th>
						</tr>
					</thead>
					<tbody ng-repeat="x in progress">
						<tr>
							<td style="text-align:center;vertical-align:middle;">{{x.number}}</td>
							<td style="text-align:center;vertical-align:middle;">{{x.userName}}</td>
							<td style="text-align:center;vertical-align:middle;">{{x.hbTime}}</td>
							<td style="text-align:center;vertical-align:middle;">{{x.process}}%</td>
							<td>{{x.pcontent}}</td>
							<!-- <td>发送给{{x.nextuserName}}&nbsp;---&nbsp;{{x.recTime}}{{x.recStatus}}</td> -->
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-12 column">
			任务流转记录:
				<table class="table table-bordered table-hover table-condensed">
					<thead>
						<tr class="warning">
							<th style="width:40px;text-align:center;vertical-align:middle;">序号</th>
							<th style="width:60px;text-align:center;vertical-align:middle;">操作人</th>
							<th style="width:100px;text-align:center;vertical-align:middle;">时间</th>
							<th>操作内容</th>
						</tr>
					</thead>
					<tbody ng-repeat="x in datas">
						<tr>
							<td rowspan='2' style="text-align:center;vertical-align:middle;">{{x.number}}</td>
							<td rowspan='2' style="text-align:center;vertical-align:middle;">{{x.userName}}</td>
							<td rowspan='2' style="text-align:center;vertical-align:middle;">{{x.fabuTime}}</td>
							<td>发送给{{x.nextuserName}}&nbsp;---&nbsp;{{x.recTime}}{{x.recStatus}}</td>
						</tr>
						<tr>
							<td>{{x.overTime}}{{x.overStatus}}&nbsp;---&nbsp;{{x.apprTime}}{{x.approvalStatus}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-12 column">
			任务详情:
				<table class="table table-bordered table-hover table-condensed">
					<thead>
						<tr class="info">
							<th>任务名称</th>
							<th>{{data[0].task_Name}}</th>
							<th>任务等级</th>
							<th>{{data[0].task_Grade}}</th>
						</tr>
					</thead>
					<tbody>
						<tr class="error">
							<td>发布时间</td>
							<td>{{data[0].rel_Time}}</td>
							<td>计划完成时间</td>
							<td>{{data[0].planTime}}</td>
						</tr>
						<tr class="warning">
							<td colspan="3">任务内容</td>
							<td><a href="/wfzp/sdfile/{{data[0].task_File}}"
								download ng-show="file">附件下载</a>
							</td>
						</tr>
						<tr>
							<td colspan="4">{{data[0].task_Claim}}</td>

						</tr>
						<tr class="info">
							<td colspan="4">备注</td>

						</tr>
						<tr>
							<td colspan="4">{{data[0].task_Remark}}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	var app = angular.module('app', []);
	app.controller('xiangqingCtrl', function($scope, $http) {
		var id = GetQueryString("id");
		var url = "/wfzp/selectTaskList.action";
		$http({
			method : 'get',
			url : url,
			params : {
				// file_sendnames : $scope.person.polId,

				orderNum : id
			//task_sestate : $scope.sestate,
			}, // 传递数据作为字符串，从前台传到后台
		}).success(function(data) {
			// alert(data[0].fileFa);
			//console.log(JSON.stringify(nmb));
			if (data[0].task_Grade == 2) {
				data[0].task_Grade = "紧急"
			}
			if (data[0].task_Grade == 1) {
				data[0].task_Grade = "普通"
			}
			if (data[0].task_File == null || data[0].task_File == "") {
				$scope.file = false;
			} else {
				$scope.file = true;
			}
			$scope.data = data;
			//console.log(data);
			/* $scope.data2 = JSON.parse($scope.data.task_json); */
			//console.log($scope.items);
		}).error(function() {
			layer.open({
				type : 1,
				title : "提示",
				closeBtn : 0,
				content : '<div style="padding: 20px 80px;">无法连接到服务器</div>',
				btn : '确定',
				btnAlign : 'c'
			});
		});
		$http({
			method : 'get',
			url : "/wfzp/selectTodoList.action",
			params : {
				// file_sendnames : $scope.person.polId,

				orderNum : id
			//task_sestate : $scope.sestate,
			}, // 传递数据作为字符串，从前台传到后台
		}).success(function(data) {
			console.log(data);
			var da = data;
			var num = 1;
			angular.forEach(da, function(data, index) {
				da[index]["number"] = num;
				num++;
			});
			$scope.datas = da;
		}).error(function() {
			layer.open({
				type : 1,
				title : "提示",
				closeBtn : 0,
				content : '<div style="padding: 20px 80px;">无法连接到服务器</div>',
				btn : '确定',
				btnAlign : 'c'
			});
		});
		//任务进度
		$http({
			method : 'get',
			url : "/wfzp/findProgress.action",
			params : {
				// file_sendnames : $scope.person.polId,

				orderNum : id
			//task_sestate : $scope.sestate,
			}, // 传递数据作为字符串，从前台传到后台
		}).success(function(data) {
			var jindu = 0;
			var progr = data;
			var yanse = ["success","info","warning"];
			var i = 0;
			var num = 1;
			angular.forEach(progr, function(data, index) {
			jindu += parseInt(progr[index].process);
				progr[index]["progr"] = yanse[i];
				progr[index]["number"] = num;
				num++;
				if(i==3){
					i=0;
				}else{
					i++;
				}
			});
			$scope.progress = progr;
			$scope.zjindu = jindu;
		}).error(function() {
			layer.open({
				type : 1,
				title : "提示",
				closeBtn : 0,
				content : '<div style="padding: 20px 80px;">无法连接到服务器</div>',
				btn : '确定',
				btnAlign : 'c'
			});
		});
		function GetQueryString(name)//获取链接参数
		{
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
			var r = window.location.search.substr(1).match(reg);
			if (r != null)
				return unescape(r[2]);
			return null;
		}
	})
</script>